.navbar-wrapper {
  width: auto;
  background-color: rgb(149, 52, 198);
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 423px) {
  .navbar-wrapper {
    justify-content: start;
  }
}

.navbar-wrapper p {
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin: 0;
  word-spacing: 5px;
  letter-spacing: 5px;
}
